.layout__admin {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
    min-height: 100vh;
}

.layout__sidebar__content {
    flex: 1;
}

.layout__admin__content {
    width: calc(100% - var(--width-sidebar));
    /* display: flex; */
    flex-wrap: nowrap;
    background-color: #fff;
}

.admin__button__default {
    padding: 0 24px;
    height: 40px;
    color: var(--primary-color) !important;
    line-height: 40px;
    text-transform: none !important;
    background-color: #fff !important;
    border: 1px solid var(--primary-color) !important;
}

@media only screen and (max-width: 992px) {
    .layout__admin__content {
        width: calc(100% - var(--width-sidebar-mobile));
    }
}
