.post__detail__skeleton__container {
    width: 960px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media only screen and (max-width: 1392px) {
    .post__detail__skeleton__container {
        width: 100%;
        gap: 12px;
    }
}
