.container {
    position: relative;
}

.blog__container {
    max-width: 1392px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0 120px;
}

.blog__main {
    width: 960px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog__post__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blog__post__item {
    display: flex;
    padding: 20px;
    border-radius: 12px;
    /* border: 1px solid var(--grey-200, #eee); */
    background: var(--grey-00, #fff);
    gap: 24px;
}

.blog__post__item__info__title {
    color: var(--text-01, var(--color-system-text-color-system-color-text-500, #23262f));
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    /* height: 56px; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog__post__item__info__title:hover {
    color: var(--primary-color);
}

.blog__post__item__info__time {
    display: flex;
    gap: 16px;
    color: var(--neutrals-4, #777e90);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.blog__post__item__info__desc {
    color: var(--Text---02, #686a6c);
    max-height: 120px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.blog__post__item__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog__main__title {
    color: var(--text-01, var(--color-system-text-color-system-color-text-500, #23262f));

    /* Headline 4 */
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
}

.blog__post__item__image {
    min-width: 240px;
    max-width: 240px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

.blog__post__item__image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease all;
}

.blog__post__item__image__img:hover {
    transform: scale(1.2);
}

.blog__right {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.why__apply {
    border-radius: 12px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.why__apply__titles {
    color: #3772ff;
    /* Headline 5 */
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.why__apply__item {
    font-family: Poppins, sans-serif;
    display: flex;
    padding: 4px 0px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.why__apply__item__check {
    display: flex;
}

.blog__most__popular {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.blog__most__popular__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog__most__popular__item {
    border-bottom: 1px solid #e7e8e8;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
}

.blog__most__popular__item__title {
    color: #222;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    max-height: 48px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog__most__popular__item__time {
    color: var(--neutrals-4, #777e90);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.blog__most__popular__title {
    color: var(--text-01, var(--color-system-text-color-system-color-text-500, #23262f));
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
}

.blog__post__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    object-fit: cover;
}

.title {
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    color: #999;
}

@media only screen and (max-width: 1392px) {
    .blog__container {
        padding: 56px 48px;
        gap: 48px;
    }
    .blog__right {
        width: 500px;
    }
    .blog__main {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .blog__container {
        flex-direction: column;
    }
    .blog__right {
        width: 100%;
    }
    .blog__main {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .blog__container {
        padding: 56px 24px;
        flex-direction: column;
        gap: 48px;
    }
    .blog__main {
        width: 100%;
        gap: 24px;
    }
    .blog__post__item {
        flex-direction: column;
        gap: 12px;
    }
    .blog__post__item__info {
        gap: 8px;
    }
    .blog__post__item__image {
        min-width: 100%;
        height: unset;
    }
    .blog__post__item__image__img {
        width: 100%;
    }
}
